
@import url("https://fonts.googleapis.com/css?family=Lato|Lora");
html {
  display: flex;
  min-height: 100%;
}






body {
  background: #252c32;
  display: flex;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 100;
}

.container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 500px;
  height: 700px;
}

.bar {
  position: absolute;
  height: 85%;
  width: 2px;
  left: 7%;
  top: 7.5%;
  background: #f4e8da;
}

.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  border: 1px solid #f4e8da;
  box-shadow: 0px 0px 7px #f4e8da;
}

.top {
  background: #5b4644;
  top: -1%;
}

.middle {
  background: #87624f;
  top: 38%;
}

.bottom {
  background: #dab7a3;
  bottom: -1%;
}

.bold {
  color: #87624f;
  position: absolute;
  top: -7%;
  left: -17px;
}

.creamy {
  color: #dab7a3;
  position: absolute;
  bottom: -7%;
  left: -27px;
}

.info {
  width: 55%;
  height: 100%;
  position: absolute;
  left: 43%;
}

.coffee-cups {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 3%;
}

.handle {
  position: absolute;
  height: 20px;
  width: 15px;
  background: transparent;
  border-radius: 50% 30%;
  left: 95%;
  top: 10%;
  z-index: -1;
  border: 2px solid #f4e8da;
}

.cup {
  position: absolute;
  width: 70px;
  height: 55px;
  background: #252c32;
  border: 2px solid #f4e8da;
  border-radius: 0 0 5rem 5rem;
  left: 20%;
}

.cup-small {
  position: absolute;
  width: 55px;
  height: 40px;
  background: #252c32;
  border: 2px solid #f4e8da;
  border-radius: 0 0 5rem 5rem;
  left: 23%;
}

.cup-long {
  position: absolute;
  width: 60px;
  height: 70px;
  background: #252c32;
  border: 2px solid #f4e8da;
  border-radius: 10% 10% 50% 50%;
  left: 22%;
}

.doppio {
  top: 5%;
  background: linear-gradient(to bottom, #252c32 40%, #5b4644 40%, #87624f 70%);
}

.americano {
  top: 18.5%;
  background: linear-gradient(to bottom, #252c32 13%, #859fb5 13%, #859fb5 50%, #87624f 50%);
}

.macchiato {
  top: 35%;
  background: linear-gradient(to bottom, #252c32 20%, #f4e8da 20%, #f4e8da 40%, #87624f 40%);
}

.flatwhite {
  top: 50%;
  background: linear-gradient(to bottom, #252c32 10%, #f4e8da 10%, #dab7a3 60%, #87624f 65%, #5b4644 90%);
}

.cappuccino {
  top: 64%;
  background: linear-gradient(to bottom, #f4e8da 50%, #dab7a3 50%, #dab7a3 55%, #87624f 60%);
}

.latte {
  top: 81%;
  background: linear-gradient(to bottom, #252c32 5%, #f4e8da 5%, #f4e8da 30%, #dab7a3 30%, #dab7a3 70%, #87624f 70%);
}

h1 {
  color: #f4e8da;
  font-size: 1em;
  letter-spacing: 3px;
}

p {
  color: #f4e8da;
  font-family: "Lora", serif;
  text-transform: none;
  font-size: 0.7em;
  letter-spacing: 0.5px;
  margin-top: -5px;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  position: absolute;
}

.first {
  top: 7%;
}

.second {
  top: 21%;
}

.third {
  top: 36%;
}

.fourth {
  top: 52%;
}

.fifth {
  top: 65%;
}

.sixth {
  top: 83%;
}

.small {
  margin-left: 20px;
  margin-top: -1px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.key {
  position: relative;
  margin: auto;
  width: 500px;
  height: 200px;
}

.espresso {
  background: #5b4644;
  position: absolute;
  left: 17%;
}

.milk {
  background: #dab7a3;
  position: absolute;
  left: 40%;
}

.foam {
  background: #f4e8da;
  position: absolute;
  left: 63%;
}

.water {
  background: #859fb5;
  position: absolute;
  left: 83%;
}





#bean {
  width: 170px;
  height: 250px;
  background: rgba(106,62,19,1);
  background: radial-gradient(circle, rgb(119, 83, 46) 0%, rgba(106,62,19,1) 100%);  
  border-radius: 50%;
  -webkit-box-shadow: 12px 8px 15px 0px rgba(0,0,0,0.44); 
  box-shadow: 12px 10px 15px 0px rgba(0,0,0,0.33);
} 

svg { 
  position: absolute;
  top: 29px;
  left: -78px;
  width: 300px; 
  height: 330px; 
  transform: rotate(36deg);
}

rect { 
  fill: #000; 
}

path { 
  fill: #fff; 
}

#static-base, #shadow-base {
  fill: none;
  stroke: rgb(68, 27, 0);
	stroke-dasharray: 300;
  stroke-linecap: round; 
	stroke-width: 20;
	mask: url(#mask);
}

#base {
	fill: none;
  stroke: antiquewhite;
	stroke-dasharray: 300;
  stroke-linecap: round;
	stroke-width: 20;
	mask: url(#mask);
	animation: draw 4s ease-in-out infinite
}

#shadow-base {
  fill: none;
  stroke: #441b00;
}

@keyframes draw {
	0% { stroke-dashoffset: -300; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 300; }
  100% { stroke-dashoffset: -300; }
}
.main{
	margin:2%;
}
#orderB{
	background-color:  rgb(119, 83, 46);
	font-family: "Lato", sans-serif;
	color: #f4e8da;
	width: 100%;
    height: 15%;
	border-color: #dab7a3;
}
#orderU{
	background-color:  rgb(119, 83, 46);
	font-family: "Lato", sans-serif;
	color: #f4e8da;
	width: 100%;
    height: 15%;
	border-color: #dab7a3;
}
h5{
	color:  #859fb5;
}

/*Order card page*/
/*
Author: Adnan Qaiser
Website: WWW.ADNANQAISER.COM
*/
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

#cardPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-right: 10%;
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-image: url(https://digitalforge.qa/images/codepen/bg.png);
    background-position: right center, left top;
    background-color: #eeeeee;
    background-repeat: no-repeat, repeat;
    background-attachment: inherit;
    background-color: #eeeeee;
}



.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .1em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #fff;
}
  .fa, .fas {
    font-weight: 900;
    font-size: 50px;
    color: #6E4D33;
  }
  .button {
  background-color: #6E4D33;
  border: none;
  color: white;
  padding: 15px 39px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
  height: 50px;
}
.result {
  background-color: #34495E;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  width: 304px;
  height: 50px;
  display:block;
}
.button:hover {
  background-color: #FFFFFF;
  border: 1px solid #333;
  color: #333;
  font-weight: normal;
}
.credits{
  margin-top:50px; 
  padding:10px;
  border-radius:5px;
  width:450px;
  text-align:center;
  color:gray;
}
a {
  color:gray;
  text-decoration:none;
}
a:hover{
  color:#34495E;
}
.user{
	

    width: 20%;
    font-size: small;
     background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
    border-color: #46637f;
      margin: .1em 1em;

}





